.about{
	background-color: #eff3f7;
	border-radius: 5px;
	padding-bottom: 40px;
	color: #4a545d;
}

.about_header{
  margin: 0;
  padding: 0 20px 0 20px;
  display: inline-block;
  line-height: 67px;
  border-bottom: 2px solid #3ba8c0;
  color: #3ba8c0;
}
.about_body{
	padding-left: 55px;
  	padding-top: 18px; 
}
.about img{
	border-radius: 50%;
	border: 5px solid #3ba8c0;
	float:left;
}


.aboutlist{
	 display: inline-block;
	 list-style: none;
	 margin:0;
	 margin-left: 25px;
	 padding:0;
}

.bold_text{
	font-weight: bold;
}

.aboutlist_item{
	margin-bottom: 20px;
	color: #4a545d;
}

.knowleges{
	display: inline-block;
	color: white;
	border-radius: 3px;
	font-size: 13px;
	margin: 4px 2px;
	padding: 3px 14px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ba8c0+47,2e8ca2+55 */
	background: rgb(59,168,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(59,168,192,1) 47%, rgba(46,140,162,1) 55%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,rgba(59,168,192,1)), color-stop(55%,rgba(46,140,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(59,168,192,1) 47%,rgba(46,140,162,1) 55%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(59,168,192,1) 47%,rgba(46,140,162,1) 55%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(59,168,192,1) 47%,rgba(46,140,162,1) 55%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(59,168,192,1) 47%,rgba(46,140,162,1) 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */

}
.knowleges_wrapper{
	display: inline-block;
	width: 220px;
	margin-left: 13px;
	vertical-align: top;
}

.work{
	background-color: #eff3f7;
	border-radius: 5px;
	margin-top: 25px;
	padding-bottom: 20px; 
	color: #4a545d;
	font-weight: bold;
}
.description{
	font-weight: normal;
}

.worklist{
	list-style: none;
}
.worklist_item{
	display: inline-block;
	padding-left: 47px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.study{
	background-color: #eff3f7;
	border-radius: 3px;
	padding-bottom: 20px;
	margin-top:25px;
	color: #4a545d;
	font-weight: bold;
}

.studylist{
	list-style: none;
}

p{
	padding:0;
	margin:0;
}

.studylist_item{
	padding-left: 47px;
	margin-left: 20px;
	margin-bottom: 20px
}

.gradient_border{
		height  : 3px;
		width   : 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffefd+0,1e687b+37,1e687b+48,1e687b+55,1e687b+67,1e687b+67,fffaff+100 */
		background: rgb(255,254,253); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(255,254,253,1) 0%, rgba(30,104,123,1) 37%, rgba(30,104,123,1) 48%, rgba(30,104,123,1) 55%, rgba(30,104,123,1) 67%, rgba(30,104,123,1) 67%, rgba(255,250,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,254,253,1)), color-stop(37%,rgba(30,104,123,1)), color-stop(48%,rgba(30,104,123,1)), color-stop(55%,rgba(30,104,123,1)), color-stop(67%,rgba(30,104,123,1)), color-stop(67%,rgba(30,104,123,1)), color-stop(100%,rgba(255,250,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,254,253,1) 0%,rgba(30,104,123,1) 37%,rgba(30,104,123,1) 48%,rgba(30,104,123,1) 55%,rgba(30,104,123,1) 67%,rgba(30,104,123,1) 67%,rgba(255,250,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,254,253,1) 0%,rgba(30,104,123,1) 37%,rgba(30,104,123,1) 48%,rgba(30,104,123,1) 55%,rgba(30,104,123,1) 67%,rgba(30,104,123,1) 67%,rgba(255,250,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,254,253,1) 0%,rgba(30,104,123,1) 37%,rgba(30,104,123,1) 48%,rgba(30,104,123,1) 55%,rgba(30,104,123,1) 67%,rgba(30,104,123,1) 67%,rgba(255,250,255,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,254,253,1) 0%,rgba(30,104,123,1) 37%,rgba(30,104,123,1) 48%,rgba(30,104,123,1) 55%,rgba(30,104,123,1) 67%,rgba(30,104,123,1) 67%,rgba(255,250,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefd', endColorstr='#fffaff',GradientType=1 ); /* IE6-9 */
}

