body{
	background-image: url("../images/comppattern2.png");
	overflow: scroll;
	min-width: 1400px;
}

.header{
	background-color: #eff3f7;
	height: 78px;
	padding: 40px 0 0 0;
}

.logo{
	margin-left: 10%;
	position: relative;
	float: left;
}

.social{
	display: inline-block;
    float: left;
    margin: -4px 0 0 47%;
}

.footer{
	background-color: #eff3f7;
	height: 100px;
	width: 100%;
	bottom: 0;
	margin-top: 40px;
	clear: both;
	font-family: fira_sansbook, Arial, sans-serif;
}

.enter{
	margin-left: 30%;
    width:21px;
    padding-top: 32px;
    margin-top: 40px;
    display: inline-block;
}

.copy{
	display: inline-block;
	margin-left: 234px;
}


.main{
	margin: 40px 0 40px 15%;
	font-family: fira_sansbook, Arial, sans-serif;
}

.left_sidebar{
	display: inline-block;
	float: left;
	margin-bottom: 40px;
}


.content{
	display: inline-block;
	margin-left: 60px;
	width:650px;
}
