.nav{
	width:250px;
}

.navig {
	list-style: none;
	list-style-type: none;
	background-color: #eff3f7;
	padding: 0;
	margin: 0 auto;
	border-radius: 5px;
}

.navig a{
	text-decoration: none;
	font-family: Arial Helvetica sans-serif;
	font-size: 24px;
	color: black;
	border-bottom: 2px solid #3ba8c0;
	display: block;
}

.navig a:last-child{
	border-bottom: none; 
}

.navig a:first-child{
	background-color: #3ba8c0;
	color: white;
	border-radius: 5px 5px 0 0px;  
}
.navig a:first-child:hover{
	color: white;
}

.navig a:hover{
	color: #3ba8c0;
}

.navig_item{
	min-height: 50px;
	padding: 25px 0 0 27px;	
}

.no_border{
	border-bottom: 
}