.nav{
	width:250px;
}

.navig {
	list-style: none;
	list-style-type: none;
	background-color: #eff3f7;
	padding: 0;
	margin: 0 auto;
	border-radius: 5px;
}

.navig a{
	text-decoration: none;
	font-size: 24px;
	color: #4a545d;
	border-bottom: 2px solid #3ba8c0;
	display: block;
}

.navig a:last-child{
	border-bottom: none; 
}

.navig a:first-child{
	background-color: #3ba8c0;
	color: white;
	border-radius: 5px 5px 0 0px;  
}
.navig a:first-child:hover{
	color: white;
}

.navig a:hover{
	color: #3ba8c0;
}

.navig_item{
	min-height: 50px;
	padding: 25px 0 0 27px;	
}

.no_border{
	border-bottom: 
}

.contacts{
	margin-top: 25px;
}

.contact{
	list-style-type:none;
	padding:0;
	margin:0;
	background-color: #3ba8c0;
	border-radius: 5px;
}

.contact_item{
	padding-left: 42px;
	padding-top: 10px;
	min-height: 40px; 
}
.phone{
	background-color: #48cbe8;
}
.mail{
	background-color: #41b9d4;
}
.skype{
	background-color: #51daf8;
}
.contact_item a{
	color: white;
	padding-left: 40px;
	font-size: 16px;
	text-decoration: none;
}

.contact .contact_item:first-child{
	color: white;
	min-height: 0;
	font-size: 24px;
	padding:10px 0 10px 20px;
}
