
div.social a{
    margin-right: 24px;
    padding-left: 47px;
    padding-bottom: 30px;
}
.social a[href^="http://vk.com"]{
    background: url(../images/sprites/spritesheet.png) -5px -660px no-repeat;
    
}

.social a[href^="http://twitter.com"]{
    background: url(../images/sprites/spritesheet.png) -5px -504px no-repeat;
}

.social a[href^="http://github.com"]{
    background: url(../images/sprites/spritesheet.png) -5px -218px no-repeat;
}
.social a[href^="http://facebook.com"]{
    background: url(../images/sprites/spritesheet.png) -5px -104px no-repeat;
}


.social a[href^="http://vk.com"]:hover{
    background: url(../images/sprites/spritesheet.png) -5px -603px no-repeat;
}

.social a[href^="http://twitter.com"]:hover{
    background: url(../images/sprites/spritesheet.png) -5px -447px no-repeat;
}

.social a[href^="http://github.com"]:hover{
    background: url(../images/sprites/spritesheet.png) -5px -161px no-repeat;
}
.social a[href^="http://facebook.com"]:hover{
    background: url(../images/sprites/spritesheet.png) -5px -47px no-repeat;
}


.enter{
    background: url(../images/sprites/spritesheet.png) -5px -275px  no-repeat;
}
.enter:hover{
    background: url(../images/sprites/spritesheet.png) -5px -561px no-repeat;
}

.worklist_item{
    background: url(../images/sprites/spritesheet.png) -5px -335px no-repeat;
    
}

.study_vpo{
     background: url(../images/sprites/spritesheet.png) -5px -712px no-repeat;
}
.study_cources{
     background: url(../images/sprites/spritesheet.png) -5px 5px no-repeat;
}